
html {
    font-size: 62.5%
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI";
    color: rgb(240, 240, 240);
    background: rgb(83, 83, 83);
    margin: 0;
    padding: 5px;
}


h1 {
    font-size: 16px;
    margin: 0;
}

.btn.btn-default {
    background: #666;
    color: white;
}


.float-right {
    float: right;
}
